body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
#loader
{
    width: 350px;
    height: 350px;
    /* background: url('../images/dog.gif') no-repeat center; */
    background: url('../images/dog1.gif') no-repeat center;
    background-size: 350px 350px;
    margin-left: 35%;
    margin-top: 10%;
}
#mainContent 
{
    display: none;
    transition: 1s ease all;

}