@font-face {
    font-family: myfont;
    src: url('../fonts/Flubby.ttf');
}

h1 
{
    font-family: myfont;
    font-size: 45px;
}
p
{
    font-family: myfont;
    letter-spacing: 2px;
}